<template>
  <div>
    <div class="main_box">
      <div class="header_title_box">
        <img src="@/assets/imgresoure/header_img.png" alt="" />
      </div>
      <div class="rules_box">
        <img class="rules_bg" src="@/assets/imgresoure/rules_img.png" alt="" />
        <div class="rules_text">
          <ul class="rules_text_list">
            <li>1：在小红书发笔记安利knockout抠图;</li>
            <li>2：3张图片+不少于20文字;</li>
            <li>3：带话题#Proknockout并@官方@Proknockout智能抠图;</li>
            <li>
              4：1-3天内审核通过发放Proknockout<span class="color_font"
                >周会员</span
              >，每天限额20人;
            </li>
            <li>
              5：官方pick优质笔记送<span class="color_font">月会员</span
              >，不限名额！
            </li>
            <li>
              6：活动结束后官方将会评选出前3名Proknockout安利官送<span
                class="color_font"
                >年会员</span
              >。
            </li>
          </ul>
        </div>
        <div class="goviewpage_button">
          <span>前往发布</span
          ><img
            class="triangle_blue"
            src="@/assets/imgresoure/triangle_blue.png"
            alt=""
          />
        </div>
      </div>
      <div class="vip_box">
        <img class="vip_bg" src="@/assets/imgresoure/vip_img.png" alt="" />
        <div class="vip_text">
          <ul class="vip_text_list">
            <li>
              1:发布成功后复制笔记链接返回Proknockout找到活动入口填写发布链接和相关信息；
            </li>
            <li>
              2:我们将会在1-3天内审核笔记，审核通过后将会通过微信添加好友发放，官方pick优质笔记将会统一元旦后发放会员。
            </li>
          </ul>
        </div>
        <div class="goviewpage_button">
          <span>活动入口</span>
          <div class="triangle_white"></div>
        </div>
      </div>
      <div class="bottom_box">
        <div class="bottom_title">参考话题：</div>
        <ul>
          <li>#实用app安利 #抠图教程 #宝藏APP</li>
          <li>#智能抠像 #app #app分享 #抠图</li>
        </ul>
        <div class="time_box">活动时间：12月5号-12月25号</div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { reactive } from "vue";
</script>

<style lang="less" scoped>
.main_box {
  width: 100%;
  height: 1328px;
  background-image: url("@/assets/imgresoure/bg.png");
  background-size: cover;
  background-position: center center;
  font-family: PingFang SC, PingFang SC;
}
.header_title_box {
  margin-bottom: 4px;
  img {
    width: 100%;
    height: 211px;
  }
}
.rules_box {
  margin-bottom: 10px;
  position: relative;
  .rules_bg {
    width: 100%;
    height: 106px;
    margin-bottom: 10px;
  }
  .rules_text {
    
    ul {
      width: 326px;
      height: 336px;
      li:not(:last-child) {
        margin-bottom: 25px;
      }
    }
    box-sizing: border-box;
    padding-top: 17px;
    padding-left: 13px;
    width: 100%;
    height: 443px;
    background-image: url("@/assets/imgresoure/bg_img.png");
    background-size: cover;
    background-position: center center;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    line-height: 24px;
    .color_font {
      color: #81ff45;
    }
  }
  .goviewpage_button {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: PingFang SC, PingFang SC;
    font-weight: 500;
    color: #5030fe;
    width: 80px;
    height: 18px;
    position: absolute;
    left: 50%;
    bottom: 33px;
    transform: translateX(-50%);
    .triangle_blue {
      width: 14px;
      height: 14px;
    }
  }
}
.vip_box {
  position: relative;
  .vip_bg {
    width: 100%;
    height: 110px;
    margin-bottom: 10px;
  }
  .vip_text {
    width: 100%;
    height: 241px;
    background-image: url("@/assets/imgresoure/vip_bg_img.png");
    background-size: cover;
    background-position: center center;
    font-size: 16px;
    font-weight: 600;
    color: #5131fd;
    line-height: 24px;
    padding-top: 17px;
    .vip_text_list {
      width: 326px;
      height: 144px;
      margin-left: 40px;
      li:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  .goviewpage_button {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    line-height: 18px;
    width: 80px;
    height: 18px;
    position: absolute;
    left: 50%;
    bottom: 33px;
    transform: translateX(-50%);
    .triangle_white {
      margin-left: 4px;
      width: 0;
      height: 0;
      border-left: 8px solid #ffffff;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }
  }
}
.bottom_box {
  margin-left: 13px;
  margin-top: 10px;
  .bottom_title {
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    line-height: 24px;
    margin-bottom: 5px;
  }
  ul {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    li {
      width: 229px;
      height: 21px;
      line-height: 21px;
      &:not(:last-child){
        margin-bottom: 8px;
      }
    }
  }
  .time_box {
    margin-top: 15px;
    width: 230px;
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    line-height: 24px;
  }
}
</style>